.user {
    text-align: center;
    background-color: beige;
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.usersUl {
    list-style-type: none;

}
.blue {
    color: rgba(57, 90, 145, 0.937);
}
.delete:hover {
    color: red;
    background: black;
    transition: 1s;
    border-color: currentColor
}
.edit:hover {
    color: rgba(57, 90, 145, 0.937);
    transition: 1s;
    background: rgb(141, 183, 199);
    border-color: currentColor

}